img {
    display: grid;
    border: 5px solid #555;
}


.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.container {
    position: relative;
    text-align: left;
    color: rgb(10, 0, 0);
}


.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}



.row:after {
    content: "";
    display: table;
    clear: both;
}

.footer {
    padding: 20px;
    text-align: center;
    background: #ddd;
    margin-top: 20px;
}

.button {

    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 0 5px 5px 0;
}


figure {
    border: 1px #000000 solid;
    padding: 5px;
    margin: auto;
}

figcaption {
    background-color: rgb(224, 222, 222);
    color: rgb(19, 16, 16);
    font-style: italic;
    padding: 5px;
    text-align: center;
}